
<div class="posts-wrapper row">
<div class="post">
<h1 style="    text-align: center;
"> THE ABOUT PAGE </h1>

<p>
This site is personal project I've been working on to understand the process and technologies involved in making a web application. <br>
<ul>
<b><u>Current and future features:</u></b></ul>
<li><b>1.</b>	Upload pics of a similiar theme and render in view similar to Instagram...will not be posted to users account
	<br>-add delete function if it's your pic(possibly)</li>

<li><b>2.</b>	Search memeber by Instagram ID and view all pics in full size format...add download button</li>
<br>
<li><b>3.</b>	View last 100 pics from friends in a map interface where pic will be located on map according to GPS data</li>
<br>
<li><b>4.</b>	Only allow users authenticated through Instagram to upload pictures to site
	-only allow owner to edit and delete their pics</li>
<br>
<li><b>5.</b>	AJAXify forms to limit page redirects...especially for  main pics CRUD functions in controller</li>
<br>
<li><b>6.</b>	Make logo</li>
<br>
<li><b>7.</b>	Render single full size post on posts index on click
	(try jQuery animate for enlarge effect)</li>
<br>
<li><b>8.</b>	Add a Bootstrap footer with my MIT License</li>
<br>
<li><b>9.</b>	Add vote up or down function from lil twitter code</li>
	<br>
	<li><b>10.</b>	In app messaging or comments or something...for possible feedback from users</li>

</p>

</div>
</div>