
<div class="posts-wrapper row">
<div class="post">
	<h1 style="text-align: center;
	"> THE ABOUT PAGE </h1>

	<p>
		This site is a personal project I've been working on to understand the process and technologies involved in making a web application.  <br>
		<ul>
			<b><u>Current and future features:</u></b></ul>
			<li><b>1.</b>	Upload pics of a similiar theme and render in view similar to Instagram...will not be posted to users account
				<br>-add delete function if it's your pic(possibly)</li>

				<li><b>2.</b>	Search memeber by Instagram ID and view all pics in full size format...add download button</li>
				<br>
				<li><b>3.</b>	View last 100 pics from friends in a map interface where pic will be located on map according to GPS data</li>
				<br>
				<li><b>4.</b>	Only allow users authenticated through Instagram to upload pictures to site
					-only allow owner to edit and delete their pics</li>
					<br>
					<li><b>5.</b>	AJAXify forms to limit page redirects...especially for  main pics CRUD functions in controller</li>
					<br>
					<li><b>6.</b>	Make logo</li>
					<br>
					<li><b>7.</b>	Render single full size post on posts index on click
						(try jQuery animate for enlarge effect)</li>
						<br>
						<li><b>8.</b>	Add a Bootstrap footer with my MIT License</li>
						<br>
						<li><b>9.</b>	Add vote up or down function from lil twitter code</li>
						<br>
						<li><b>10.</b>	In app messaging or comments or something...for possible feedback from users</li>
					</p>

<u><h2 style="text-align: center;
">TECHNOLOGIES USED 
</h2></u>


<div class="tech-logos-container">
	<a href="http://rubyonrails.org/"><img class="tech-logos" style="margin-top: 20px;" src="http://weblog.rubyonrails.org/images/rails.png"></a><br>
	Application is built on a coupled Ruby on Rails framework
</div>

<div class="tech-logos-container">
	<ul><img class="tech-logos" src="https://gradle.org/wp-content/uploads/2015/02/web-trifecta_html5_css3_js-strict.png"></ul>
	<li><a href="https://www.javascript.com/">JavaScript</a> - front-end (client side)</li>
	<li><a href="https://html.spec.whatwg.org/multipage/">HTML</a></li>
	<li><a href="http://www.w3.org/Style/CSS/">CSS</a></li>
</div>

<div class="tech-logos-container">
	<a href="https://jquery.com/"><img class="tech-logos" src="http://houlker.net/wp-content/uploads/2013/08/jquery_logo.gif"></a><br>
	For event handling and AJAX
</div>
	
<div class="tech-logos-container">
	<a href="http://adaptivepath.org/ideas/ajax-new-approach-web-applications/"><img class="tech-logos" src="http://www.allanad.com/images/ajax.png"></a><br>For asynchronous data transfer
</div>

<div class="tech-logos-container">
	<a href="http://www.json.org/"><img class="tech-logos" src="	http://www.unixstickers.com/image/data/stickers/json/JSON.sh.png"></a><br>JSON for formatting data objects passed between the controller and view
</div>

<div class="tech-logos-container">
	<ul><img class="tech-logos" src="http://www.sakurasky.com/wp-content/uploads/2014/02/amazon_web_services_logo-100047937-large.png"><p>I chose AWS over <a href="https://www.heroku.com">Heroku</a> to take on the challenge of <a href="https://aws.amazon.com/">AWS</a> being more complex. I now have the benefit of it's vesatility and scalability</p></ul>
	<li><a href="http://aws.amazon.com/documentation/elastic-beanstalk/"><img class="aws-icons" src="https://cdn2.iconfinder.com/data/icons/amazon-aws-stencils/100/Compute__Networking_copy_Amazon_Route_53-512.png"></a> Elastic Beanstalk - Application deployment and management. </li>
	<li><a href="http://aws.amazon.com/rds/"><img class="aws-icons" src="https://cdn2.iconfinder.com/data/icons/amazon-aws-stencils/100/Database_copy_Amazon_RDS-512.png"></a> Amazon Relational Database (RDS) - Database management</li>
</div>		

<div class="tech-logos-container">
	<a href="http://www.postgresql.org/"><img class="tech-logos" src="https://www.marcus-povey.co.uk/wp-content/postgresql_logo-555px.png"></a><br>PostgreSQL for production environment database used for deployed version
</div>

<div class="tech-logos-container">
	<a href="https://www.sqlite.org/"><img class="tech-logos" src="https://sqlite.org/src4/logo"></a><br>SQLite3 for development and test environment databases used locally
</div>

<div class="tech-logos-container">
	<a href="http://oauth.net/2/"><img class="tech-logos" src="http://glassocean.net/media/oauth-2-sm.png"></a><br>OAUTH 2.0 for API authentication
</div>

<div class="tech-logos-container">
	<a href="https://instagram.com/developer/"><img class="tech-logos" src="http://static.wixstatic.com/media/c5b5bc_9623bf4a55f147188b890c7688c1b24d.gif"></a><br>  Instagram API for accessing account information
</div>
			
<div class="tech-logos-container">
	<a href="https://developers.google.com/maps/?hl=en"><img class="tech-logos" src="http://glendaleumc.org/wp-content/uploads//google-maps-api-logo-150x150.png"></a><br> Google Maps API for visually plotting photo locations
</div>


	</div>
</div>