<script type="text/JavaScript"></script>
 <script src="app/assets/javascripts/ccvalid.js"></script>
<div class="form-wrapper">
	<header>
		<h1 style="font-size: 75px" class="text-center"> <b><span style="color:#BCC6CC">CC </b><span style="color:#07059E"> Valid</h1>
		<h3>This is a simple form to check if a number could be a valid credit card number</h3>
		<p>To see the code and know <b>why</b> I created this, please follow this link to the
			<a href="https://github.com/JessC/ccvalid" target="_blank">CCValid GitHub Page</a>
			This <b>does not</b> <u>use, copy, save, track, record any numbers</u>. If it makes you feel better, you can disconnect from the internet while trying it...it'll still work because it runs in the browser and is not attached to a database. <br>That being said, I can't guarantee the safety of your device so you probably want to use an expired card or find a <a href="http://www.paypalobjects.com/en_US/vhelp/paypalmanager_help/credit_card_numbers.htm" target="_blank">number online</a>.
		</p>
	</header>

	<div>

		<form>  
			Credit Card Number<br>
			<input id="formValue" type="text" name="ccn" placeholder="enter number">
			<img style="width: 4em" id="card" src="
">
			<br><br>
			<input id="check" type="button" value="Submit">

		</form>

	</div>

<!-- 	<div id="cardtype" >
		

	</div> -->

</div>
