
<body>
  <header>
    <h1>CC Valid</h1>
    <h3>This is a simple form to check if a number is could be a valid credit card number</h3>
    <p>To see the code and know why I created this, please follow this link to the
    	<a href="https://github.com/JessC/ccvalid" target="_blank">CCValid GitHub Page</a>
    		This does not use, copy, save, track, record any numbers. That being said, I can't gurantee the safety on your end so probably want to use an expired card or find a <a href="http://www.paypalobjects.com/en_US/vhelp/paypalmanager_help/credit_card_numbers.htm" target="_blank">number online</a>.
    </p>
  </header>

  <div>

    <form>  
      Credit Card Number<br>
      <input id="formValue" type="text" name="ccn" placeholder="enter number">
      <br><br>
      <input id="check" type="button" value="Submit">
    </form>

  </div>

  <script src="javascripts/asseets/ccvalid/ccvalid.js"></script>
