<h1><b>HOME PAGE!!!!</b></1h>

	<p>Super rough draft. This is so other people can try it with different computers and different browsers and let me know if </p>I know it looks like shit, I'll be working on that but first I wanted to get some key features to function...like showing you and your friends pictures on Google Maps...you're welcome. The 'About' page has a list of things I'm working on, there's actually more than whats listed</p>

	<br>

	<h3>Signing In</h3>
	<p>To use the map portion you need to sign into your instagram account. To do this I use <a href="http://oauth.net/">oauth</a>. It basically allows my site to show information from your account. It doesn't keep anything, it just uses my code to display your information in a particular way. It's the same information any of your friends can see by going on your Instagram account.</p><p>
	What about my login information you ask?...Well, I have nothing to do with that, so don't worry. If you still want to know, keep reading and I'll explain more. <br>
	In order for this all to work I had to pre-register my information with Instagram. You can do it too. It's free, just go <a href="https://instagram.com/developer/">Here</a>. <br> So, they give me some secret codes to use. When you click on my link to sign in, it's actually sending my codes to Instagram. If everything checks out, they display a page for you to enter your login information.(This page is provided by instagram, not me. You can see the URL changes to instagram.com when signing in). When you click submit Instagram checks to see that you have an account with them. Then they send my application an authentication code for your session. So whenever my page requests information from Instagram, it also sends the authentication code which represents you so it knows what information to get.</p> 
