<div class="footer">
   <p style="float: left; margin-left: 150px;">Some stuff at the bottom of the page that nobody reads. </p>
   <p style="float: right; margin-right: 150px;">                  Copyright © 2015 All Rights Reserved.</p>
</div>