<div class="footer">
   <p style="float: left; margin-left: 150px; padding-top: 5px;">Some stuff at the bottom of the page that nobody reads. </p>
   <p style="float: right; margin-right: 150px; padding-top: 5px;">                  Copyright © 2016 Rights Reserved.</p>
</div>