<style>

/* START - HTML5 Canvas Hex/RGB Color Picker */

.hccp-outerdiv {
display: table;
position:inherit;
margin-right: auto;
margin-left: auto;
}

.hccp-canvas {
border:1px solid #aaaaaa;
float:left;
}

.hccp-innerdiv {
float:left;
font-family:Courier,monospace;
margin-left:15px;
}

.hccp-colorbar {
width:150px;
height: 20px;
}

.hccp-resetdiv {
clear:both;
}

#results {
  text-align: -webkit-center;
}

#result {
  width: 160px;
  height: 50px;
  border-radius: 10px;
}
#result-wrap {
  //border: 1px solid #999999;
  width: 160px;
  height: 50px;
  margin: 5px;
  border-radius: 10px;
}
body {
  font-family: Arial;
}
/* END - HTML5 Canvas Hex/RGB Color Picker */
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>


<h1 style="text-align: center;">PICTURE INDEX PAGE</h1>
<br><br>



<div class="hccp-outerdiv">
<canvas class="hccp-canvas" id="hccp-FindCanvasColor"></canvas>
<div class="hccp-innerdiv">
<br>
<p>On Hover <span id="hccp-hoverColorFont">Color</span></p>
<p class="hccp-colorbar" id="hccp-hoverColorBackground"> </p>
<p>RGB: <input type="text" id="hccp-hoverColorRGB"></input></p>
<br>
<p>On Click <span id="hccp-clickColorFont">Color</span></p>
<p class="hccp-colorbar" id="hccp-clickColorBackground"> </p>
<p>RGB: <input type="text" id="hccp-clickColorRGB" class="website"></input>
<button data-copytarget=".website" id="hccp-clickColorHEX">copy</button>
</p>
</div>
<br>
<div class="hccp-resetdiv"></div>
</div>
<br>

<!-- SIMPLE COLOR PICKER AND RESULTS -->
<div id="results">
<label for="rgb_value">Enter an RGB value or paste from below</label>
<form action oninput="isThatAColor(this.elements[0].value); return false;">
 <div>
  <input type="text" onblur="isThatAColor(this.value)" placeholder="rgb(255,255,255)">
</div>
</form>
<div id="result-wrap">
  <div id="result" style="background-color: #ffffff;"></div>
</div>  
</div>



 <script>
// $(input).blur(function() {
//   alert( "Handler for .blur() called." );
// });



// $('.special').attr('id', 'mycolor');

// var addSomething = 
// document.getElementById("mycolor").addEventListener("blur", isThatAColor(this.value));

// addSomething.blur.isThatAColor(this.value);</script>

<br><br><br><br>

<h3 style="color: tomato; margin-left: 150px; margin-right: 150px;">Removed functionality of upload feature for security purposes.</h3>

<h4 style="margin-left: 150px; margin-right: 150px;"> 
You can upload pictures now!!! Theres no real point <i>yet</i>, it was more for me to get experience working with the technology to make it happen.</h4>
<!-- <h4 style="color: red; margin-left: 150px; margin-right: 150px;"> 
This is in no way tied to you or any account and is completely anonymous...against my better judgement...so try to be nice :)</h4> -->


<a style="margin-left: 150px;" class="btn btn-default" href="posts/new" role="button">Upload a Picture</a>

<br>

<div class="posts-wrapper row">
  <% @posts.each do |post| %>
  <div class="post">
    <div class="post-head">
      <div class="name">
        <%= @app_user %>

      </div>
    </div>
    <div class="image center-block">
<%# "DATABASE FILE PATH FOR POST.IMAGE:" %><br>
<%# post.image.url %>

      <%= link_to (image_tag post.image.url, class:'img-responsive'), post_path(post) %>
    </div>
    <p class="caption">
      <%= "Caption:" %>
      <%= post.caption %>
    </p>
  </div>
  <% end %>
</div>


<script type="text/JavaScript">
function isThatAColor(s) {
  var color = new RGBColor(s);
  if (color.ok) {
    document.getElementById('result').style.backgroundColor
    = 'rgb(' + color.r + ', ' + color.g + ', ' + color.b + ')';
    document.getElementById('result-text').innerHTML
    = 'Red: ' + color.r
    + '<br />Green: ' + color.g
    + '<br />Blue: ' + color.b
    + '<br />RGB: ' + color.toRGB()
    + '<br />Hex: ' + color.toHex()
    ;
  } else {
    document.getElementById('result-text').innerHTML = 'Never heard of such a color :(';
      document.getElementById('result').style.backgroundColor
      = 'rgb(255, 255, 255)';
    }
  }

  function showHelp() {
    var color = new RGBColor('');
    document.getElementById('help').innerHTML = '';
    document.getElementById('help').appendChild(color.getHelpXML());
  };

</script>


