<h1 style="text-align: center;">PICTURE INDEX PAGE</h1>
<h3 style="color: tomato; margin-left: 150px; margin-right: 150px;"><!--RED HEADLINES --></h3>

<h4 style="margin-left: 150px; margin-right: 150px;"> 
You can upload pictures now!!! Theres no real point <i>yet</i>, it was more for me to get experience working with the technology to make it happen.</h4>
<!-- <h4 style="color: red; margin-left: 150px; margin-right: 150px;"> 
This is in no way tied to you or any account and is completely anonymous...against my better judgement...so try to be nice :)</h4> -->


<a style="margin-left: 150px;" class="btn btn-default" href="posts/new" role="button">Upload a Picture</a>

<br>

<div class="posts-wrapper row">
  <% @posts.each do |post| %>
  <div class="post">
    <div class="post-head">
      <div class="name">
        <%= @app_user %>

      </div>
    </div>
    <div class="image center-block">
<%# "DATABASE FILE PATH FOR POST.IMAGE:" %><br>
<%# post.image.url %>

      <%= link_to (image_tag post.image.url, class:'img-responsive'), post_path(post) %>
    </div>
    <p class="caption">
      <%= "Caption:" %>
      <%= post.caption %>
    </p>
  </div>
  <% end %>
</div>





