@import "bootstrap-sprockets";
@import "bootstrap";
@import  "navbar.css.scss";


//div { border: dotted 1px pink; }

* {
margin: 0;
}

html {
  position: relative;
  overflow-y: scroll;
  width: 100%;
}

html, body { 
  height: 100%; 
  margin: 0; 
  padding: 0 
}

body {  
  padding-top: 70px;
  background-color: #ddecf0;
  font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.picture-text {
  height: 25px;
  width: 90px;
}

#main-pic {
  width: 100%;
}

.map-nav {
  width: 200px;
  margin-left: 20px;
  margin-right: 5px;
  position: fixed;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  margin: 0 auto -2em;
}

.container {
  //width: calc(100% - 200px);
  //height: calc(100% + 80px);
  display: inline-block;

}

#map-canvas { 
  width: 80%;
  height: 85%;
  border-radius: 10px;
  position: absolute;
}

.footer, .push {
  height: 2em;
  clear: both;
}

#home-page {
  width: 80%;
  margin: auto;
}

li { 
  list-style: none;
}

ul li {
  list-style: none;
  padding-left: none;
}

ul {
  padding-left: 0px;
}

.btn-default {
  color: #e6f5f9;
  background-color: #7bb3c7;
  border-color: none;
  margin: 2px;
  outline: 0;
}

.btn-default:hover {
  color: #386f78;
  background-color: #8ba6b2;
  border-color: #adadad;
  outline: 0;
}

.tech-logos-container {
  margin-left: 2em;
  margin-right: 2em;
  #border: 1px solid yellow;
  font-size: 1.3em;
} 

.tech-logos {
  margin-top: 50px;
  max-width: 350px;
  max-height: 175px;
  #border: 1px solid #8AC007;
}

.aws-icons {
  max-width: 50px;
  max-height: 50px;
  #border: 1px solid yellow;
}

.navbar-default {
  height: 54px;
}

.navbar-container {
  width: 640px;
  margin: 0 auto;
}

.posts-wrapper {
  padding-top: 40px;
  margin: 0 auto;
  max-width: 642px;
  width: 100%;
}

.post {
  background-color: white;
  border-color: #edeeee;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  margin-bottom: 60px;
  padding-left: 10px;
}

.post-head {
  height: 64px;
  padding: 14px 20px;
  color: #125688;
  font-size: 15px;
  line-height: 18px;
  .thumbnail {}
  .name {
  display: block;
  }
}

.image {
  border-bottom: 1px solid #eeefef;
  border-top: 1px solid #eeefef;
}

.caption {
  padding: 24px 24px;
  font-size: 15px;
  line-height: 18px;

}

.form-wrapper {
  width: 60%;
  margin: 20px auto;
  background-color: #fff;
  padding: 40px;
  border: 1px solid #eeefef;
  border-radius: 3px;
}

.edit-links {
  margin-top: 20px;
  margin-bottom: 40px;
}


/*.test {
  border: 1px solid red;
}*/

.bottom{
  padding: 0;
  margin: 0;
  background-color: #BBCAF8;
}

.profile_pic {
  padding: 0;
  margin: 0;
  float: left;
}

.dsp-tb {
  display: table;
}

.dsp-cel {
  display: table-cell;
}

#profile_pic {
  border-radius: 100px;
  cursor: pointer;
}

nav a {
  color: inherit;
}

/*.nav {
  padding-top: 1.4%;
}*/

.nav_wrapper {
  height: 150px;
  width: 100%;
  display: inline-block;
}

.vrt-algn {
  vertical-align: middle;
}

.pos-rl {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.pd-23 {
  padding: 23%;
}

.pd-10 {
  padding: 10%;
}

.top-50 {
  top: 50%;
}

.lft-50 {
  left: 50%;
}

.wd-13 {
  width: 100%;
}

.mrgn-rt {
  text-align: center;
}

.full-ht {
  height: 100%;
}

.ht-20{
  height: 20%;
}

.full-wd {
  width: 100%;
}

.ht-inhrt {
  height: inherit;
}

#logo {
  max-width: 100%;
  max-height: 100%;
}



.pic_info {
  font-family: 'Arial Rounded MT Bold';
}

.footer {
//left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  margin: auto;
  margin-top: 100px;
  /* Set the fixed height of the footer here */
  background-color: #f5f5f5;
  color: #7bb3c7

}

#size-warning{
  display: block;
  margin: auto;    
  background-color: black;
}


@media (min-width: 950px) 
{
  #size-warning
   {
     display: none;
    }
}