
.navbar-default {
  background-color: #7bb3c7;
  border-color: #8ba6b2;
}
.navbar-default .navbar-brand {
  color: #e6f5f9;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #386f78;
}
.navbar-default .navbar-text {
  color: #e6f5f9;
}
.navbar-default .navbar-nav > li > a {
  color: #e6f5f9;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #386f78;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #7bb3c7;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #e6f5f9;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #386f78;
  background-color: #8ba6b2;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #7bb3c7;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #386f78;
  background-color: #8ba6b2;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #386f78;
  background-color: #8ba6b2;
}
.navbar-default .navbar-toggle {
  border-color: #8ba6b2;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #8ba6b2;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #e6f5f9;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e6f5f9;
}
.navbar-default .navbar-link {
  color: #e6f5f9;
}
.navbar-default .navbar-link:hover {
  color: #386f78;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #e6f5f9;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #386f78;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #386f78;
    background-color: #8ba6b2;
  }
}