  <!-- <div class="bottom_wrapper pos-rl ht-20"> -->
  <!-- <div class="bottom row span-12-t span-12-d pos-rl full-ht"> -->
  <div class="map-nav" style="float: left;">
    <div class="col span-2-d span-2-t test">
     <a href="https://instagram.com/">
      <img id="profile_pic" src="<%=@user.profile_picture%>"/></a>
    </div>
    <h1> MAP PAGE </h1>
    <p style="font-size: .7em;">Click on the map to activate scrolling, move cursor off map to cancel.</p>

    <div>
      <input id="users_feed" class="btn btn-default" type="button" value="MY PICS"/>
    </div>

    <% if @first_visit == true %>
    <div class="col span-2-d span-2-t test">
      <p>click on your profile picture to view your gallery on Instagram</p>
    </div>

    <div>
      <input id="news_feed" class="btn btn-default" type="button" value="FRIENDS PICS"/>
    </div>

    <% else %>

    <div>
      <input id="news_feed" class="btn btn-default" type="button" value="FRIENDS PICS"/>
    </div>

    <% end %>


    <div>
      <input id="center" class="btn btn-default" type="button" value="MY LOCATION"/><h6>My Location not active yet</h6>
    </div>

<!--     <div>
      <a id="logout" href="https://instagram.com/accounts/logout/" >
        <input type="button" class="btn btn-default" value="LOGOUT"/>
      </a>
    </div> -->

    <div>
      <%= link_to image_tag('generic_logo.jpg', :class => '',  id: 'logo'), "https://github.com/JessC?tab=repositories" %>
    </div>
  </div>

<div id="container" style="display: inline-block; margin-left: 225px;
">
   
   <div id="floating-panel">
      <input id="address" type="textbox" style="border-radius: 10px; margin-top: 3px;" placeholder="Enter a Location">
      <input class="btn btn-default" id="submit" style="padding: 1px 10px;" type="button" value="Go!">
    </div>
    
  <div id='map-canvas'></div>

</div>
  <!-- </div> -->
  <!-- </div> -->
<!--   <iframe name="footer" width="0" height="0" ></iframe>
 -->


